html
  head
    title
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet')
  body
    table(align='center')
      tr
        td
          img(src='http://res.cloudinary.com/ornito-media/image/upload/v1527875773/header_zefxmx.png', alt='Header')
      tr
        td
          p(style="color:#000; font-weight: bold;margin:5% 5% 0%;font-family: 'Roboto', sans-serif;font-size:24px")
            | Oi, #{notification['nome']} #{notification['sobrenome']}
          p(style="color:#000; font-weight: regular;margin:5% 5% 0%;font-family: 'Roboto', sans-serif;font-size:24px;")
            | sua conta foi aprovada!
          p(style="color:#000; font-weight: regular;margin:5% 5% 0%;font-family: 'Roboto', sans-serif;font-size:24px;")
            | Clique no botão abaixo para acessar.
          p(style="font-family: 'Roboto', sans-serif;text-align: center; margin-top:10%;margin-bottom:15px")
            a(href=`${notification.url_conta}`, style='background: #01BCA2;\
            color: #fff;\
            padding: 12px 15px;\
            font-size: 18px;\
            font-weight: lighter;\
            text-decoration: none;')
              | Acessar
