html
  head
    title
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    table(align='center')
      tr
        td
          img(src='./header.png', alt='Recuperar Senha')
      tr
        td
          p(style="color:#000; font-weight: bold;margin:5% 5% 0%;font-family: 'Roboto', sans-serif;font-size:24px")
            | Oi, #{notification['nome']} #{notification['sobrenome']}
          p(style="color:#000; font-weight: regular;margin:5% 5% 0%;font-family: 'Roboto', sans-serif;font-size:24px;")
            | #{notification['mensagem']}
          p(style="color:#000; font-weight: regular;margin:5% 5% 0%;font-family: 'Roboto', sans-serif;font-size:24px;")
            | Clique no botão abaixo para alterar.
          p(style="font-family: 'Roboto', sans-serif;text-align: center; margin-top:10%;margin-bottom:15px")
            a(href='#', style='background: #01BCA2;\
            color: #fff;\
            padding: 12px 15px;\
            font-size: 18px;\
            font-weight: lighter;\
            text-decoration: none;')
              | Alterar Senha
